{% extends 'base.html' %}  

{% block content %}
<!-- content @s -->
<!-- displaying flash messages -->
{% if messages %}
{% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-primary{% endif %}">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Update Trip</h3>
                            <div class="nk-block-des text-soft">
                                <p>Update trip details</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner-group">
                            <form action="{% url 'update_trip' trip.id %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-inner">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="title nk-block-title">Driver: </h5>
                                            <p>Trip driver details. </p>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="row gy-4">
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="full-name">Driver</label>
                                                    <div class="form-control-wrap">
                                                        {{form.driver}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="phone-no">Driver Accessory Pay</label>
                                                    <div class="form-control-wrap">
                                                        {{form.driver_accesory_pay}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="phone-no">Driver Advance Pay</label>
                                                    <div class="form-control-wrap">
                                                        {{form.driver_advance}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                        </div><!--row-->
                                    </div>
                                </div><!-- .card-inner -->
                                <div class="card-inner">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="title nk-block-title">Truck:</h5>
                                            <p>Trip truck information. </p>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="row gy-4">
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Truck</label>
                                                    <div class="form-control-wrap">
                                                        {{form.vehicle}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Odemeter</label>
                                                    {{form.vehicle_odemeter}}
                                                </div>
                                            </div><!--col-->
                                            
                                        </div><!--row-->
                                    </div>
                                </div><!-- .card-inner -->
                                <div class="card-inner">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="title nk-block-title">Load:</h5>
                                            <p>Trip load details. </p>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="row gy-4">
                                            <div class="col-xxl-6 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Load</label>
                                                    <div class="form-control-wrap">
                                                        {{ form.load }}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">Update Trip</button>
                                                </div>
                                            </div><!--col-->
                                        </div><!--row-->
                                    </div>
                                </div><!-- .card-inner -->
                            </form>
                        </div>
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
{% endblock content %}  