{% extends 'base.html' %}  

{% block content %}
<!-- content @s -->
<!-- displaying flash messages -->
{% if messages %}
{% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-primary{% endif %}">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Update Planned Load</h3>
                            <div class="nk-block-des text-soft">
                                <p>Update planned load information carefully.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner-group">
                            <form action="{% url 'update_load' load.id %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-inner">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="title nk-block-title">Basic Details </h5>
                                            <p>Add load basic details. </p>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="row gy-4">
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="full-name">Customer</label>
                                                    <div class="form-control-wrap">
                                                        {{form.customer}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="phone-no">Commodity</label>
                                                    <div class="form-control-wrap">
                                                        {{form.commodity}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="phone-no">Quantity</label>
                                                    <div class="form-control-wrap">
                                                        {{form.quantity}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="phone-no">Quantity Type</label>
                                                    <div class="form-control-wrap">
                                                        {{form.quantity_type}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="phone-no">Weight</label>
                                                    <div class="form-control-wrap">
                                                        {{form.weight}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Description</label>
                                                    <div class="form-control-wrap">
                                                        {{form.notes}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                        </div><!--row-->
                                    </div>
                                </div><!-- .card-inner -->
                                <div class="card-inner">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="title nk-block-title">Stops: Pickup & Delivery</h5>
                                            <p>Pick up and Delivery information. </p>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="row gy-4">
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Shipper</label>
                                                    <div class="form-control-wrap">
                                                        {{form.shipper}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Pickup Date</label>
                                                    <div class="form-control-wrap">
                                                        <div class="form-icon form-icon-right">
                                                            <em class="icon ni ni-calendar"></em>
                                                        </div>
                                                        {{form.pickup_date}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Consignee</label>
                                                    {{form.consignee}}
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Delivery Date</label>
                                                    <div class="form-control-wrap">
                                                        <div class="form-icon form-icon-right">
                                                            <em class="icon ni ni-calendar"></em>
                                                        </div>
                                                        {{form.delivery_date}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-8">
                                                <div class="form-group">
                                                    <label class="form-label">Drivers Instructions</label>
                                                    {{form.driver_instructions}}
                                                </div>
                                            </div><!--col-->
                                            
                                        </div><!--row-->
                                    </div>
                                </div><!-- .card-inner -->
                                <div class="card-inner">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="title nk-block-title">Fees / Charges</h5>
                                            <p>Add fees and charges associated with the load. </p>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="row gy-4">
                                            <div class="col-xxl-6 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Primary Fee</label>
                                                    <div class="form-control-wrap">
                                                        {{ form.primary_fee }}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Primary Fee Type</label>
                                                    <div class="form-control-wrap">
                                                        {{form.primary_fee_type}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-6 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Fuel Surcharge Fee</label>
                                                    <div class="form-control-wrap">
                                                        {{ form.fuel_surcharge_fee }}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">FSC Amount Type</label>
                                                    <div class="form-control-wrap">
                                                        {{form.fsc_amount_type}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Border Agent Fees</label>
                                                    <div class="form-control-wrap">
                                                        {{form.border_agent_fee}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Road User Fees</label>
                                                    <div class="form-control-wrap">
                                                        {{form.road_user}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Gate Toll Fees</label>
                                                    <div class="form-control-wrap">
                                                        {{form.gate_tolls}}
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Fines</label>
                                                    <div class="form-control-wrap">
                                                        {{form.fines}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Additional Fees</label>
                                                    <div class="form-control-wrap">
                                                        {{form.additional_fees}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Invoice Advance</label>
                                                    <div class="form-control-wrap">
                                                        {{form.invoice_advance}}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-xxl-3 col-md-8">
                                                <div class="form-group">
                                                    <label class="form-label" for="default-02">Legal Disclaimer</label>
                                                    <div class="form-control-wrap">
                                                        <!--<textarea name="notes" class="form-control" id="default-textarea">Add more details</textarea>-->
                                                        {{ form.legal_disclaimer }}
                                                    </div>
                                                </div>
                                            </div><!--col-->
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">Update Load</button>
                                                </div>
                                            </div><!--col-->
                                        </div><!--row-->
                                    </div>
                                </div><!-- .card-inner -->
                            </form>
                        </div>
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
{% endblock content %}  