{% extends 'base.html' %}  

{% block content %}
<!-- content @s -->
{% if messages %}
{% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-primary{% endif %}">
        {{ message }}
    </div>
{% endfor %} 
{% endif %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Load/ <strong class="text-primary small">{{ load.load_id}}</strong></h3>
                    </div>
                </div>
                <div class="nk-block nk-block-lg">
                    <div class="card">
                        <div class="card-aside-wrap">
                            <div class="card-content">
                                <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#tabItem1"><em class="icon ni ni-user-circle-fill"></em><span>Overview</span></a>
                                    </li>
                                    <!-- 
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#tabItem3"><em class="icon ni ni-capsule-fill"></em><span>Invoices</span></a>
                                    </li>
                                    -->
                                </ul>
                                <div class="card-inner">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tabItem1">
                                            <div class="nk-block nk-block-between">
                                                <div class="nk-block-head">
                                                    <h6 class="title">Basic Information</h6>
                                                    <p>Load information.</p>
                                                </div><!-- .nk-block-head -->
                                                <div class="nk-block">
                                                    <a class="btn btn-white btn-icon btn-outline-light"  href="{% url 'update_load' load.id %}">
                                                        <em class="icon ni ni-edit"></em>
                                                    </a>
                                                </div>
                                            </div><!-- .nk-block-between  -->
                                            <div class="nk-block">
                                                <div class="profile-ud-list">
                                                    <div class="profile-ud-item">
                                                        <div class="profile-ud wider">
                                                            <span class="profile-ud-label">Shipper</span>
                                                            <span class="profile-ud-value">{{ load.shipper.name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-ud-item">
                                                        <div class="profile-ud wider">
                                                            <span class="profile-ud-label">Consignee</span>
                                                            <span class="profile-ud-value">{{ load.consignee.name }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-ud-item">
                                                        <div class="profile-ud wider">
                                                            <span class="profile-ud-label">Status</span>
                                                            <span class="profile-ud-value">{{ load.status }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-ud-item">
                                                        <div class="profile-ud wider">
                                                            <span class="profile-ud-label">Commodity</span>
                                                            <span class="profile-ud-value">{{ load.commodity }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-ud-item">
                                                        <div class="profile-ud wider">
                                                            <span class="profile-ud-label">Weight</span>
                                                            <span class="profile-ud-value">{{ load.weight }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-ud-item">
                                                        <div class="profile-ud wider">
                                                            <span class="profile-ud-label">Pick Up Date</span>
                                                            <span class="profile-ud-value">{{ load.pickup_date }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-ud-item">
                                                        <div class="profile-ud wider">
                                                            <span class="profile-ud-label">Delivery Date</span>
                                                            <span class="profile-ud-value">{{ load.delivery_date }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-ud-item">
                                                        <div class="profile-ud wider">
                                                            <span class="profile-ud-label">Driver Instructions</span>
                                                            <span class="profile-ud-value">{{ load.driver_instructions }}</span>
                                                        </div>
                                                    </div>
                                                    
                                                </div><!-- .profile-ud-list -->
                                            </div><!-- .nk-block -->
                                            <div class="nk-block">
                                                <div class="nk-block-head nk-block-head-line">
                                                    <h6 class="title overline-title text-base">Additional Information</h6>
                                                </div><!-- .nk-block-head -->
                                                <div class="profile-ud-list">
                                                    <div class="profile-ud-item">
                                                        <div class="profile-ud wider">
                                                            <span class="profile-ud-label">Associated Quotation</span>
                                                            <span class="profile-ud-value"><a href="{% url 'view_estimate' load.estimate.id %}">{{ load.estimate.estimate_id }}</a></span>
                                                        </div>
                                                    </div>
                                                </div><!-- .profile-ud-list -->
                                                <div class="profile-ud-list">
                                                    <div class="profile-ud-item">
                                                        <div class="profile-ud wider">
                                                            <span class="profile-ud-label">Assigned Truck</span>
                                                            {% if load.assigned_truck %}
                                                            <span class="profile-ud-value"><a href="{% url 'view_vehicle' load.assigned_truck.id %}">{{ load.assigned_truck.plate_number }}</a></span>
                                                            {% else %}
                                                            <span class="profile-ud-value"><a href="{% url 'assign_load_trucks' load.id %}"> Assign Truck?</a> No truck assigned!</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div><!-- .profile-ud-list -->
                                            </div><!-- .nk-block -->
                                            
                                        </div><!-- tab pane -->
                                        
                                        
                                    </div><!--tab content-->
                                </div><!--card inner-->
                            </div><!-- .card-content -->
                            <div class="card-aside card-aside-right user-aside toggle-slide toggle-slide-right toggle-break-xxl" data-content="userAside" data-toggle-screen="xxl" data-toggle-overlay="true" data-toggle-body="true">
                                <div class="card-inner-group" data-simplebar>
                                    <div class="card-inner">
                                        <div class="user-card user-card-s2">
                                            <div class="user-avatar lg bg-primary">
                                                <span>AB</span>
                                            </div>
                                            <div class="user-info">
                                                <div class="badge bg-outline-light rounded-pill ucap">Patinet</div>
                                                <h5>Abu Bin Ishtiyak</h5>
                                                <span class="sub-text">info@softnio.com</span>
                                            </div>
                                        </div>
                                    </div><!-- .card-inner -->
                                    <div class="card-inner card-inner-sm">
                                        <ul class="btn-toolbar justify-center gx-1">
                                            <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-shield-off"></em></a></li>
                                            <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-mail"></em></a></li>
                                            <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-download-cloud"></em></a></li>
                                            <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-bookmark"></em></a></li>
                                        </ul>
                                    </div><!-- .card-inner -->
                                    <div class="card-inner">
                                        <div class="row text-center">
                                            <div class="col-4">
                                                <div class="profile-stats">
                                                    <span class="amount">$2123</span>
                                                    <span class="sub-text">Total Bill</span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="profile-stats">
                                                    <span class="amount">$200</span>
                                                    <span class="sub-text">Paid</span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="profile-stats">
                                                    <span class="amount">$1923</span>
                                                    <span class="sub-text">Due</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .card-inner -->
                                    <div class="card-inner">
                                        <h6 class="overline-title-alt mb-2">Additional</h6>
                                        <div class="row g-3">
                                            <div class="col-6">
                                                <span class="sub-text">Patient ID:</span>
                                                <span>#P7085</span>
                                            </div>
                                            <div class="col-6">
                                                <span class="sub-text">Admit Date</span>
                                                <span>15 Feb, 2019 01:02 PM</span>
                                            </div>
                                            <div class="col-6">
                                                <span class="sub-text">Condition</span>
                                                <span class="lead-text text-success">Normal</span>
                                            </div>
                                            <div class="col-6">
                                                <span class="sub-text">Discharged Date</span>
                                                <span>16 Feb, 2019</span>
                                            </div>
                                        </div>
                                    </div><!-- .card-inner -->
                                    <div class="card-inner">
                                        <h6 class="overline-title-alt mb-3">Groups</h6>
                                        <ul class="g-1">
                                            <li class="btn-group">
                                                <a class="btn btn-xs btn-light btn-dim" href="#">surgery</a>
                                                <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                            </li>
                                            <li class="btn-group">
                                                <a class="btn btn-xs btn-light btn-dim" href="#">cardiology</a>
                                                <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                            </li>
                                            <li class="btn-group">
                                                <a class="btn btn-xs btn-light btn-dim" href="#">another tag</a>
                                                <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                            </li>
                                        </ul>
                                    </div><!-- .card-inner -->
                                </div><!-- .card-inner -->
                            </div><!-- .card-aside -->
                        </div><!-- .card-aside-wrap -->
                    </div><!--card-->
                </div><!--nk block lg-->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
{% endblock content %} 