{% extends 'base.html' %}  

{% block content %}
<!-- content @s -->
<!-- displaying flash messages -->
{% if messages %}
{% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-primary{% endif %}">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Staffs</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <ul class="nk-block-tools g-3">
                                <li class="nk-block-tools-opt">
                                    <a data-bs-toggle="modal" href="#addStaff" class="btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                    <a data-bs-toggle="modal" href="#addStaff" class="btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Add Staff</span></a>
                                </li>
                            </ul>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="row g-gs">
                    {% for staff in staffs %}
                    <div class="col-sm-6 col-lg-4 col-xxl-3">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="team">
                                    <div class="team-options">
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="#"><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                    <li><a href="{% url 'update_staff' staff.id %}"><em class="icon ni ni-eye"></em><span>Update Details</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-mail"></em><span>Send Email</span></a></li>
                                                    <li><a data-bs-toggle="modal" class="delete-button" href="#deleteStaff" data-pk="{{ staff.id }}"><em class="icon ni ni-trash"></em><span>Delete Staff</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-card user-card-s2">
                                        <div class="user-avatar lg bg-white">
                                            <img src="{{ staff.profile_photo.url }}" alt="">
                                        </div>
                                        <div class="user-info">
                                            <h6>{{ staff.first_name }} {{ staff.last_name }} </h6>
                                            <span class="badge rounded-pill bg-primary">{{ staff.role }}</span>
                                            <span class="sub-text">{{ staff.designation }}</span>
                                        </div>
                                    </div>
                                    <ul class="team-info">
                                        <li><span>Department</span><span>{{ staff.department }}</span></li>
                                        <li><span>Join Date</span><span>{{ staff.date_joined.date }}</span></li>
                                        <li><span>Contact</span><span>{{ staff.phone}}</span></li>
                                        <li><span>Email</span><span>{{ staff.email }}</span></li>
                                    </ul>
                                    <div class="team-view">
                                        <a href="{% url 'view_staff' staff.id %}" class="btn btn-block btn-dim btn-primary"><span>View Profile</span></a>
                                    </div>
                                </div><!-- .team -->
                            </div><!-- .card-inner -->
                        </div><!-- .card -->
                    </div><!-- .col -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

<!-- Add Staff modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="addStaff">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h5 class="modal-title">Add Staff</h5>
                <form action="{% url 'add_staff' %}" class="mt-4" method="POST">
                    {% csrf_token %}
                    <div class="row g-gs">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="firstname"> First Name</label> 
                                <div class="form-control-wrap">
                                    {{ form.first_name }}
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="lastname"> Last Name</label> 
                                <div class="form-control-wrap">
                                    {{ form.last_name }}
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="email"> Email</label> 
                                <div class="form-control-wrap">
                                    {{ form.email }}
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="email"> Password</label> 
                                <div class="form-control-wrap">
                                    {{ form.password }}
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="vehicleMake"> Role</label> 
                                <div class="form-control-wrap">
                                    {{ form.role }}
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="email"> Phone</label> 
                                <div class="form-control-wrap">
                                    {{ form.phone }}
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="vehicleMake"> Department</label> 
                                <div class="form-control-wrap">
                                    {{ form.department }}
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="vehicleMake"> Designation</label> 
                                <div class="form-control-wrap">
                                    {{ form.designation }}
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Date Joined</label>
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar"></em>
                                    </div>
                                    <!--<input type="text" name="insurance_expiry" class="form-control date-picker" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">-->
                                    {{ form.date_joined }}
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="customFileLabel">Profile Photo</label>
                                <div class="form-control-wrap">
                                    <div class="form-file">
                                        <!--<input type="file" class="form-file-input" id="customFile">-->
                                        {{ form.profile_photo }}
                                        <label class="form-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-12">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <button type="submit" class="btn btn-primary">Add Staff </button>
                            </ul>
                        </div>
                    </div>
                </form>
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

<div class="modal fade" id="deleteStaff">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-sm text-center">
                <div class="nk-modal py-4">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                    <h4 class="nk-modal-title">Are You Sure ?</h4>
                    <div class="nk-modal-text mt-n2">
                        <p class="text-soft">This staff will be removed permanently.</p>
                    </div>
                    <ul class="d-flex justify-content-center gx-4 mt-4">
                        <form id="delete-form" method="POST">
                            {% csrf_token %}
                        <li>
                            <button type="submit" data-bs-dismiss="modal" id="deleteObj" class="btn btn-primary">Yes, Delete.</button>
                        </li>
                        </form>
                        <li>
                            <button data-bs-dismiss="modal" data-toggle="modal" data-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- .Delete role  Modal-content -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //-- deleteRole modal script
    function showDeleteModalForm() {
    // Implementation of showModalForm() to display the modal
    $('#deleteStaff').modal('show');
}

    $(document).ready(function() {
    // Get all the delete buttons
    var deleteButtons = document.getElementsByClassName('delete-button');

    // Loop through each delete button
    for (var i = 0; i < deleteButtons.length; i++) {
        // Add click event listener
        deleteButtons[i].addEventListener('click', function() {
            // Get the pk from the data attribute
            var pk = this.dataset.pk;

            // Update the form's action with the correct URL
            // Replace '0' with the actual value of pk from your Django template context
            var form = document.getElementById('delete-form');
            form.action = '{% url "remove_staff" 0 %}'.replace('0', pk);

            // Display the modal form
            // Assuming you have code to display the modal form
            showDeleteModalForm();

            // You can add additional logic here if needed, e.g., pre-fill form fields, etc.

            // Let the user manually click the submit button
            // Assuming you have a submit button with id 'delete-submit-button'
            document.getElementById('deleteObj').addEventListener('click', function() {
                // Submit the form
                form.submit();
            });
        });
    }
});
//-- ends
</script>
{% endblock content %}  