Dear {{first_name}} {{last_name}},

We are excited to welcome you to our team and look forward to working with you! As a reminder, your position is {{role}} and you will report to Branch Manager.

Below are your login credentials to access our internal systems:

Username: {{username}}
Password: {{passcode}}

Please change your password upon logging in for the first time. If you have any questions or concerns, please don't hesitate to reach out to system admin or the HR department.

Once again, welcome aboard! We're thrilled to have you as part of our team.

Best regards,
{{company_name}} Team