{% extends 'base.html' %}  

{% block content %}
<!-- content @s -->
{% if messages %}
{% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-primary{% endif %}">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Update Route</h3>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <form action="{% url 'update_route' route.id %}" method="POST" class="form-validate" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="row gy-4">
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label" for="name"> Name</label>
                                            <input type="text" name="name" class="form-control" id="name" placeholder="John Doe" value="{{ route.name }}" required>
                                        </div>
                                    </div><!--col-->
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label" for="name">Start Point</label>
                                            <input type="text" name="start_point" class="form-control" id="start_point" placeholder="Dar" value="{{ route.start_point }}" >
                                        </div>
                                    </div><!--col-->
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label" for="name">End Point</label>
                                            <input type="text" name="end_point" class="form-control" id="end_point" placeholder="Kasumbalesa" value="{{ route.end_point }}" >
                                        </div>
                                    </div><!--col-->
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label" for="name">Distance</label>
                                            <input type="number" name="distance" class="form-control" id="distance" placeholder="3000" value="{{ route.distance }}" >
                                        </div>
                                    </div><!--col-->
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label" for="border_stops"> Border Stops </label>
                                            <select name="border_stops" class="form-control" id="border_stops" multiple>
                                                {% for border_stop in border_points %}
                                                <option value="{{ border_stop.id }}">{{ border_stop.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div><!--col-->
                                    <div class="col-xxl-3 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label" for="stop_points"> Stop Points </label>
                                            <select name="stop_points" class="form-control" id="stop_points" multiple>
                                                {% for stop_point in stop_points %}
                                                <option value="{{ stop_point.id }}">{{ stop_point.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label" for="name">Description</label>
                                            <input type="text" name="description" class="form-control" id="description"  value="{{ route.description }}" >
                                        </div>
                                    </div><!--col-->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Update Route</button>
                                        </div>
                                    </div><!--col-->
                                </div><!--row-->
                            </form>
                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->
{% endblock content %} 